RewriteRule ^/assets/css/(.*)$ /assets/css/$1 last;
RewriteRule ^/assets/js/(.*)$ /assets/js/$1 last;
RewriteRule ^/assets/svg/(.*)$ /assets/svg/$1 last;

RewriteRule ^/lucee/admin/(.*)$ /lucee/admin/$1 last;
RewriteRule ^/lucee/res/css/(.*)$ /lucee/res/css/$1 last;
RewriteRule ^/lucee/res/js/(.*)$ /lucee/res/js/$1 last;

RewriteRule ^/(.*)$ /index.cfm/$1 last;