RewriteRule ^/assets/css/(.*)$ /assets/css/$1 last;
RewriteRule ^/assets/js/(.*)$ /assets/js/$1 last;
RewriteRule ^/assets/svg/(.*)$ /assets/svg/$1 last;
RewriteRule ^/assets/img/(.*)$ /assets/img/$1 last;
RewriteRule ^/assets/icons/(.*)$ /assets/icons/$1 last;

RewriteRule ^/lucee/admin/(.*)$ /lucee/admin/$1 last;
RewriteRule ^/lucee/res/css/(.*)$ /lucee/res/css/$1 last;
RewriteRule ^/lucee/res/js/(.*)$ /lucee/res/js/$1 last;

RewriteRule ^/manifest.json /manifest.json last;


RewriteRule ^/qbo_connect$ /oauth/qbo_connect.cfm last;
RewriteRule ^/qbo_launch$ /oauth/qbo_launch.cfm last;
RewriteRule ^/qbo_getapp$ /oauth/qbo_getapp.cfm last;
RewriteRule ^/qbo_disconnect$ /oauth/qbo_disconnect.cfm last;
RewriteRule ^/stripe_connect$ /oauth/stripe_connect.cfm last;


RewriteRule ^/(.*)$ /index.cfm/$1 last;